<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content [formGroup]="frmAddCustomer" class="mat-typography">
  <div fxFlex fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="Name" [ngClass]="{ 'is-invalid': formFields.Name.errors }" />
      <mat-error *ngIf="!!formFields.Name.errors">
        <mat-error *ngIf="!!formFields.Name.errors.required">Name is required</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="Email" [ngClass]="{ 'is-invalid': formFields.Email.errors }" />
      <mat-error *ngIf="!!formFields.Email.errors">
        <mat-error *ngIf="!!formFields.Email.errors.required">Email is required</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex fxLayoutGap="20px">
    <mat-form-field>
      <input matInput placeholder="ContactNo" formControlName="ContactNo" [ngClass]="{ 'is-invalid': formFields.ContactNo.errors }" />
      <mat-error *ngIf="!!formFields.ContactNo.errors">
        <mat-error *ngIf="!!formFields.ContactNo.errors.required">ContactNo is required</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex fxLayoutGap="20px">
      <mat-form-field>
        <input matInput placeholder="Community Name" formControlName="CommunityName" [ngClass]="{ 'is-invalid': formFields.CommunityName.errors }" />
        <mat-error *ngIf="!!formFields.CommunityName.errors">
          <mat-error *ngIf="!!formFields.CommunityName.errors.required">Community Name is required</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
  <div fxFlex fxLayoutGap="20px">
    <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary" (click)="saveCustomer()">Save</button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
