<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
    <app-stat
      [bgClass]="'danger'"
      [icon]="'dashboard'"
      [count]="13"
      [id]="'deleteDuplicate'"
      (actioncount)="getActioncount($event)"
      [label]="'Remove duplicate entry!'"
    ></app-stat>
  </div>
  <div fxFlex>
    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [id]="'copyData'" [label]="'New task!'"></app-stat>
  </div>
</div>
<div fxFlex *ngIf="count == 1">
  <form class="login-form" fxFlex [formGroup]="FrmGrp">
    <div fxFlex fxLayoutGap="20px">
      <mat-form-field>
        <input matInput placeholder="Table Name" formControlName="TableName"
         [ngClass]="{ 'is-invalid': formFields.TableName.errors }" />
        <mat-error *ngIf="!!formFields.TableName.errors">
          <mat-error *ngIf="!!formFields.TableName.errors.required">Table Name is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Fields(ex. Id1,Id2)" formControlName="Fields" [ngClass]="{ 'is-invalid': formFields.Fields.errors }" />
        <mat-error *ngIf="!!formFields.Fields.errors">
            <mat-error *ngIf="!!formFields.Fields.errors.required">Fields is required</mat-error>
          </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex fxLayoutGap="20px">
      <button mat-raised-button color="accent" [disabled]="!FrmGrp.valid" (click)="createQuery(FrmGrp.value)">Create Query</button>
    </div>
  </form>
</div>
